
@{
    ViewBag.Title = "KulupEkle";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<form class="form-group " method="post">
    <div>
        <label>KULUP AD</label>
        
        <input  class="form-control" type="text" name="KULUPAD"/>
        <br />
        <label>KONTENJAN</label>
        <input type="text" class="form-control" name="KULUPKONTENJAN" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">
           KULUP EKLE
        </button>
    </div>
</form>

